@import 'scss/base.scss';
.io-button{
    display: inline;
    .button-default{
      cursor: pointer;
      background: $white;
      font-weight: 600;
      border-radius: 10px;
      padding: 5px 15px;
      &[disabled]{
        opacity: .6;
        cursor: not-allowed;
      }
      &:focus{
        outline: none;
      }
    }
    .button-blue{
      border-width: 0px;
      height: 40px;
      background: $blue-text;
      border: 1px $blue-text solid;
      border-radius: 20px;
      color: $white;
      text-align: center;
    }
    .button-border-blue{
      border-width: 0px;
      height: 40px;
      background: $white;
      border: 1px $blue-text solid;
      border-radius: 20px;
      color: $blue-text;
      text-align: center;
    }
    .button-red{
      border-width: 0px;
      height: 40px;
      background: $red;
      border: 1px solid $red;
      border-radius: 20px;
      color: $white;
      text-align: center;
    }
    .button-border-red{
      border-width: 0px;
      height: 40px;
      background: $white;
      border: 1px $red solid;
      border-radius: 20px;
      color: $red;
      text-align: center;
    }
}
