@import 'scss/base';
.category {
    .item {
        position: relative;
        margin-top: 20px;
        overflow: hidden;
        box-sizing: border-box;
        width: 540px;
        height: 548px;
        img {
            transition: opacity 1s,transform 1s;
        }
        &:hover img {
            opacity: .8;
            transform: scale(1.1);
        }
        .caption {
            position: absolute;
            left: 0;
            width: 100%;
            color: #fff;
            height: auto;
            top: 50%;
            transform: translate(0,-50%);
            &.text-center {
                text-align: center;
            }
            .title {
                font-size: 30px;
                margin: 0;
                font-weight: 500;
                line-height: 1.1;
            }
            .small {
                padding-top: 0;
                padding-bottom: 14px;
            }
            a {
                display: inline-block;
                font-size: 12px;
                color: #fff;
                transition: background-color .3s;
                background-color: #000;
                padding: 12px 27px 11px 27px;
                &:hover {
                    background-color: #fff;
                    color: #000;
                    text-decoration: none;
                };
            }
            .desc {
                margin: 0 0 10px;
                font-size: 20px;
                font-style: italic;
                padding: 0 20px;
            }
        }
    }
}

